@font-face {
    font-family: "Roboto";
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("../vendor/fonts/Roboto-Medium.ttf") format("ttf"),
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 12000px;
    width: 100%;
}
p {
    margin: 0;
}
i {
    font-size: 28px;
}
.fa {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    margin: 0 5px;
    padding: 6px;
    border-radius: 18px;
}
.header {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    width: 100%;
}
.container {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}
@media screen and (max-width: 1200px) {
    .container {
        width: auto;
        margin: 0 8px;
    }
}
.header-top {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
}
.header-top a {
    text-decoration: none;
    color: #000000;
}
.header-top__logo {
    flex-basis: 15%;
    max-width: 15%;
}
.header-top__logo a {
    color: black;
    font-size: 68px; 
}
.header-top__address {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    flex-basis: 35%;
    max-width: 35%;
}
.header-top__worktime {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    max-width: 25%
}
.header-top__worktime-number {
    display: flex;
    align-items: center;
}
.header-top__worktime-number a {
    font-size: 25px;
}
.header-top__socials {
    flex-basis: 10%;
    max-width: 10%;
    text-align: center;
}
.header-top__socials .fa-telegram {
    color: #23aaea;
}
.header-top__socials .fa-whatsapp {
    color: #3adc57;
}
.header-top__call {
    flex-basis: 15%;
    max-width: 15%;
}
.header-top__call a {
    display: block;
    padding: 5px 15px;
    margin: 5px 0;
    border: 2px #000000 solid;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.header-top__call a:hover {
    color: #FFFFFF;
    background-color: #000000;
}
.header-bottom {
}
.bottom-menu a {
    text-decoration: none;
    transition: color ease-in-out 0.3s;
}
.bottom-menu li {
    position: relative;
    list-style: none;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 0;
}
.menu__item {
    width: 100%;
    text-align: center;
}
.menu__link {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
}
.menu__link:hover {
    color: #851000;
}
.sub-menu__list {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 20px 0 0 0;
}
.sub-menu__item {
    line-height: 35px;
    background-color: #FFFFFF;
    width: auto;
    padding: 0 20px;
    text-align: left;
}
.sub-menu__link {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.sub-sub-menu__list {
    min-width: 300px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0;
}
.sub-sub-menu__item {
    background-color: #FFFFFF;
}
.sub-sub-menu__link {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.arrow {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid #000000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.menu__arrow {}
body.mouse .sub-menu__item:hover .sub-sub-menu__list {
    display: block;
}
body.mouse .menu__item:hover .sub-menu__list {
    display: block;
}
body.touch .sub-menu__list.open {
    display: block;
}
body.touch .sub-sub-menu__list.open {
    display: block;
}